.page{
    padding: 15px;
    background-color: #EEEEEE;
}
.page h4{
    line-height: 23px;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}
.page p>span{
    font-size: 15px;
    color: #999999;
    margin-left: 10px;
}
.shijin{
    height: 13px;
    width: 13px;
    vertical-align: middle;
}
.liulan{
    height: 10px;
    width: 15px;
}
.page>p{
    font-size: 15px;
    line-height: 35px;
    color: #333333;
}
.text-img{
    height: 190px;
    padding: 10px;
    border: 1px solid red;
}