<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/active.css"/>
</head>
<body style="background: #EEEEEE" >
<div class="head">
    <div class="header">
        <img class="fl" src="../images/weixin_show_logo@2x.png" alt=""/>
        <div class="fl win">
            <h4>赢加</h4>
            <p>让投资近在眼前</p>
        </div>
        <div class="fr down">
            <a href="download.html"><span class="downlod">下载APP</span></a>
            <a class="fr" href="#">
                <img class="close" src="../images/weixin_show_close@2x.png" alt=""/>
            </a>
        </div>
    </div>
    <div class="title pr">
        <!--<img src="../images/-xinxi-jinru@2x.png" alt=""/>-->
        <span>《如何让投资理财变得更简单》</span>
    </div>
</div>

<div class="page">
    <div style="background-color: white">
        <img src="../" alt=""/>
        <p class="pdlr" style="line-height: 24px">常洪刚用简短的4分钟告诉你《如何让理财变得更诉你《如何让理财变得更简单》简单》</p>
    </div>
    <div style="background-color: white" class="list">
        <div>
            <img src="../images/shijian@2x.png" alt=""/> &nbsp; <span>2015-11-14 &nbsp; &nbsp; 11:30</span>
        </div>
        <div style="border-bottom: none">
            <img src="../images/dingwei@2x.png" alt="" style="height: 21px;width: 18px "/> &nbsp; <span>吉林省长春市</span>
        </div>
    </div>
    <div class="active-introduce pdlr">
        <h4>活动介绍</h4>
        <p class="p">
            常洪刚用简短的4分钟告诉你《如何让理财变得更简单》
            常洪刚用简短的4分钟告诉你《如何让理财变得更简单》
            常洪刚用简短的4分钟告诉你《如何让理财变得更简单》
            常洪刚用简短的4分钟告诉你《如何让理财变得更简单》
            常洪刚用简短的4分钟告诉你《如何让理财变得更简单》
        </p>
    </div>

</div>
</body>
</html>
<script src="../lib/jquery_1.12.4.js"></script>
<script src="../js/base.js"></script>