<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/inverstor.css"/>

</head>
<body style="background-color: #EEEEEE">
    <div style="background-color: white">
        <div class="header">
            <img class="fl" src="../images/weixin_show_logo@2x.png" alt=""/>
            <div class="fl win">
                <h4>赢加</h4>
                <p>让投资近在眼前</p>
            </div>
            <div class="fr down">
                <a href="download.html"><span class="downlod">下载APP</span></a>
                <a href="#">
                    <img class="close" src="../images/weixin_show_close@2x.png" alt=""/>
                </a>
            </div>
        </div>
        <div class="title pr">
            <!--<img src="../images/-xinxi-jinru@2x.png" alt=""/>-->
            <span>投资人详情</span>
        </div>
    </div>

    <div class="page">
        <img class="title-img" src="../" alt=""/>
        <div class="list">
            <div class="list-title">
                <img src="../images/suozaijigou@2x.png" alt=""/>
                <span class="title-span">所在机构</span>
            </div>
            <div class="title-text">
                <img class="bimg" src="../" alt=""/>
                <span class="title-text-span">爱尚国际</span>
            </div>
        </div>
        <div class="list">
            <div class="list-title" >
                <img src="../images/touzianli-@2x.png" alt=""/>
                <span class="title-span">投资案例</span>
            </div>
            <div class="title-text">
                <img class="bimg" src="../" alt=""/>
                <span  class="title-text-span">全自动洗衣机</span>
            </div>
            <div class="title-text">
                <img class="bimg" src="../" alt=""/>
                <span class="title-text-span">My Girl</span>
            </div>
        </div>
    </div>

</body>
</html>
<script src="../lib/jquery_1.12.4.js"></script>
<script src="../js/base.js"></script>