<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1; user-scalable=no;">
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/Safari.css"/>
    <script src="../lib/jquery_1.12.4.js"></script>
    <script src="../js/jquery.event.drag.js"></script>
    <script src="../js/jquery.touchSlider.js"></script>
    <script src="../js/slider.js"></script>
</head>
<body >
<div style="background-color: white">
    <div class="header">
        <img class="fl" src="../images/weixin_show_logo@2x.png" alt=""/>
        <div class="fl win">
            <h4>赢加</h4>
            <p>让投资近在眼前</p>
        </div>
        <div class="fr down">
            <a href="download.html"><span class="downlod">下载APP</span></a>
            <a class="" href="#">
                <img class="close" src="../images/weixin_show_close@2x.png" alt=""/>
            </a>
        </div>
    </div>
    <div class="title pr">
        <!--<img src="../images/-xinxi-jinru@2x.png" alt=""/>-->
        <span>投资人详情</span>
    </div>
</div>
<!--轮播图部分-->
<div class="img_gallery">
    <div class="point">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
    </div>
    <div class="main_img">
        <ul>
            <li><span class="img_1"></span></li>
            <li><span class="img_2"></span></li>
            <li><span class="img_3"></span></li>
            <li><span class="img_4"></span></li>
            <li><span class="img_5"></span></li>
        </ul>
        <a href="javascript:;" id="btn_prev"></a>
        <a href="javascript:;" id="btn_next"></a>
    </div>
    <!--<div class="img_font">-->
        <!--<span>img 1/5</span>-->
        <!--<span>img 2/5</span>-->
        <!--<span>img 3/5</span>-->
        <!--<span>img 4/5</span>-->
        <!--<span>img 5/5</span>-->
    <!--</div>-->
</div>
</body>
</html>

<script src="../js/base.js"></script>
<script src="../js/store.js"></script>